{{!-- This page is the homepage for the website --}}
<div class="topnav">
  <main class="active" href="#home">Home</main>
  <main href="usershelf">Bookshelf</main>
  <main href="#useraccount">Account</main>
</div>

<!-- How do we embed information into a topnav? Points? -->


<h1>Book Swap Test Page</h1>
<p>If you can see this, your local node.js installation is working!</p>