{{!-- This page is the homepage for the website --}}
<div class="topnav">
  <a href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/swaps">Pending Swaps</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>


<h1>Book Swap Test Page</h1>
<p>If you can see this, your local node.js installation is working!</p>
