{{!-- This page is the homepage for the website --}}
<div class="homeContent">
  <div class="left">
    <img src="img/littleLibrary.jpg" alt="Licensed for reuse under Creative Commons Licence"/>
  </div>
    <div class="right">
    <h2>Our Book Swap Website</h2>
    <p>This is Elvis Press Leaves' Group Project for CS360</p>
    <ul>
      <li>Welcome to 'Book Swap'</li>
      <li>Search millions of titles and swap with bookies like you, worldwide!/li>
    </ul>
    <p>To begin, please <a href="login">Login</a> or <a href="create">Create an Account</a></p>
  </div>
</div>
    </form>
    </div>
<footer>© Elvis Press Leaves</footer>
