{{!-- This page is the homepage for the website --}}
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="usershelf">Bookshelf</a>
  <a href="useraccount">Account</a>
  <a href="/welcomePage">Login</a>
</div>

<!-- How do we embed information into a topnav? Points? -->


<h1>Book Swap Test Page</h1>
<p>If you can see this, your local node.js installation is working!</p>
