{{!-- This page is the homepage for the website --}}
{{#if userID}}
<div class="topnav">
  <img class="logo" src="logo.png">
  <a href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/swaps">Pending Swaps</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>
{{/if}}

<div class="homeContent">
  <div class="left">
    <img src="img/littleLibrary.jpg" alt="Licensed for reuse under Creative Commons Licence"/>
  </div>
    <div class="right">
    <h2>Our Book Swap Website</h2>
    <p>This is Elvis Press Leaves' Group Project for CS360</p>
    <ul>
      <li>Welcome to 'Book Swap'</li>
      <li>Search millions of titles and swap with bookies like you, worldwide!/li>
    </ul>
    <p>To begin, please <a href="login">Login</a> or <a href="create">Create an Account</a></p>
  </div>
</div>
    </form>
    </div>
<footer>© Elvis Press Leaves</footer>

<h1 id="welcome">Welcome to Book Swap</h1>

<p>Build a bookshelf of books to trade to other users in exchange for points that you can use to get more books!</p>
<p>The only cost is shipping when you're sending a book.</p>
<p>It's completely up to you whether you keep the book you receive or if you put it up for trading after you're done.
   Every user gets a few points to get them started and then you get more when you've successfully traded a book.
</p>

<form id="returningUser">
  <fieldset>
    <legend>Complete the below fields to login to an existing account</legend>
    <br>
    <label for="accountname"> Username:
        <input id="username" name="name" type="text" placeholder="Enter Username" required>
    </label>
    <br>
    <label for="pw"> Password:
        <input id="password" name="pw" type="password" placeholder="Enter Password" required>
    </label>
    <br>
    <br>
    <input id="userLogin" type="submit" name="login" value="Click Here to Login!">
    <br>
    <p>Or <a href="/signup">click here</a> to create a new account!</p>
  </fieldset>
</form>

<div id="noUser">
    <h2>No account found.  Double check your password and try again.</h2>
</div>

<div id="loginError">
    <h2>Oops!  Something went wrong.  Try again.</h2>
</div>

<script src="/login.js"></script>
