<div class="nav" id="homenav">
        <a class="{{#if path "index"}}active {{/if}}" href="/index" >Home</a>
        <a class="{{#if path "customers"}}active {{/if}}" href="/customers">Customers</a>
        <a class="{{#if path "employees"}}active {{/if}}" href="/employees">Employees</a>
        <a class="{{#if path "sales"}}active {{/if}}" href="/sales">Sales</a>
        <a class="{{#if path "products"}}active {{/if}}" href="/products">Products</a>
        <a class="{{#if path "manager"}}active {{/if}}" href="/manager">Manager</a>
        <a class="{{#if path "changes"}}active {{/if}}" href="/changes">Change Log</a>
        <a href="javascript:void(0);" class="icon" onclick="navClick()">
            <i class="fa fa-bars"></i>
        </a>
</div>
