<link href="/css/bookSwap.css" rel = "stylesheet" type="text/css">

<body>
  <div style="padding-left:16px">
    <h2>Book Swap</h2>

    <h3>User profile/h3>
    <p>Here we create a user profile</p>
    <ul>
        <li>What should be here?</li>
        <ul>
          <li>Image? Location, Reputation, etc.</li>
          <ul><li>how, when, where, hi</li>
          <li>test test test</li></ul>
    </ul>
</form>
</div>
</body>
