<h1 id="welcome">Book Swap Account Registration</h1>


<form id="newUser">
  <fieldset>
    <legend>Complete the below fields to create your account</legend>
    <br>
    <label for="firstname"> Enter your first name:
        <input id="fname" name="firstname" type="text" placeholder="First Name" required>
    </label>
    <br>
    <label for="lastname"> Enter your last name:
        <input id="lname" name="lastname" type="text" placeholder="Last Name" required>
    </label>
    <br>
    <label for="emailAdd"> Enter your email:
        <input id="email" name="email" type="email" placeholder="user@email.com" required>
    </label>
    <br>
    <label for="accountname"> Create a username:
        <input id="username" name="name" type="text" placeholder="Enter Username" required>
    </label>
    <br>
    <label for="pw"> Create a password:
        <input id="password" name="pw" type="password" placeholder="Enter Password" required>
    </label>
    <br>
    <label for="streetaddress"> Enter your street:
        <input id="street" name="streetaddress" type="text" placeholder="Street" required>
    </label>
    <br>
    <label for="cityaddress"> Enter your city:
        <input id="city" name="cityaddress" type="text" placeholder="City" required>
    </label>
    <br>
    <label for="stateaddress"> Enter your state:
        <input id="state" name="stateaddress" type="text" placeholder="State" required>
    </label>
    <br>
    <label for="zipaddress"> Enter your zipCode:
        <input id="zipCode" name="zip" type="text" pattern="[0-9]{5}" placeholder="12345" required>
    </label>
    <br>
    <br>
    <input id="userLogin" type="submit" name="login" value="Click Here to Register and Login!">
  </fieldset>
</form>

<div id="signUpError">
    <h2>Oops!  Something went wrong.  Try again.</h2>
</div>

<script src="/newuser.js"></script>
