<div class="top-left-contents">
			<h1>Book Swap!</h1>

</div>
<img src="flyingBooks.png" alt="flyingBooks" width="500" height="333">

<div class="SignUp-container">
	<h2>Create Account</h2>
			<form action="storeAccountInfo" method="POST">
        <input class= "box" type="text" name="firstName" placeholder="First Name" required>
        <input class= "box" type="text" name="lastName" placeholder="Last Name" required>
				<input class= "box" type="text" name="username" placeholder="Username" required>
				<input class= "box" type="text" name="email" placeholder="Email" required>
        <input class= "box" type="text" name="address" placeholder="Address" required>
        <input class= "box" type="text" name="city" placeholder="City" required>
				<input class= "box" type="text" name="state" placeholder="State" required>
        <input class= "box" type="text" name="street" placeholder="Street" required>
        <input class= "box" type="text" name="zipCode" placeholder="Zip Code" required>
				<input class= "box"type="password" name="password" placeholder="Password" required>
				<input class= "box3" type="submit">
			</form>
			<div class="signup-link">
				<p>Want to go back to the login page clicking here <a href="welcomePage"> login</a>.</p>
			</div>
</div>
