{{#if userID}}
<div class="topnav">
  <a class="active" href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/swaps">Pending Swaps</a>
  <a href="/">Logout</a>
</div>
{{/if}}

<h1>THIS IS A USER BOOKSHELF PAGE - UNDER CONSTRUCTION</h1>