{{!-- This page is for displaying another user's bookshelf --}}

{{#if userID}}
<div class="topnav">
  <a href="/{{this.userID}}/account">Account</a>
  <a class="active" href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/swaps">Search/Browse</a>
  <a href="/{{this.userID}}/swaps">Pending Swaps</a>
  <a href="/">Logout</a>
</div>
{{/if}}

<h1>THIS PAGE IS TO VIEW ANOTHER USER'S BOOKSHELF - UNDER CONSTRUCTION</h1>