{{#if userID}}
<div class="topnav">
  <img class="logo" src="img/logo.png">
  <a href="/{{this.userID}}/account">Account</a>
  <a class="active" href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/swaps">Pending Swaps</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>
{{/if}}

<h1>THIS IS A USER BOOKSHELF PAGE - UNDER CONSTRUCTION</h1>

<footer>© Elvis Press Leaves</footer>
