<div class="top-left-contents">
			<h1>Book Swap!</h1>
      <h2>Swap books for points, worldwide</h2>

</div>

<img src="flyingBooks.png" alt="flyingBooks" width="500" height="333">


<div class="login-container">
	<h3>Welcome! Signin</h3>
	<p>Incorrect username or password.</p>
			<form class="content-holder" action="authentication" method="POST">
				<input class="box"  type="text" name="username" placeholder="Username" required>
				<input class="box" type="password" name="password" placeholder="Password" required>
				<input class"submit-button" type="submit">
			</form>
			<div class="signup-link">
				<p>If you don't have a login account signup by clicking here <a href="signUp"> Create a Account</a>.</p>
			</div>
</div>
