body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav { 
  overflow: hidden;
  background-color: #000000;
}

.topnav a { 
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover { 
  background-color: gray;
  color: black;
}

.topnav a.active { 
  background-color: #ddd;
  color: black;
}

img {
  width:550px;
  margin: 0 auto;
}

img.home {
  width:550px;
  margin-left: 30%;
}

.warnText {
color: red;
}

.homeContent {
width: 1200px;
margin: auto;
padding: 10px;
height: 385px;
}

.left {
width: 50%;
float: left;
height: 385px;

}
.right {
width: 50%;
float: left;
height: 385px;
}

.res {
margin: auto;
text-align: center;
}

#resFrame {
width: 1200px;
height: 800px;
}

#results {
width: 100%;
margin-top: 20px;
display:none;
}

.fk {
color: darkblue;
}

.pk {
color: darkgreen;
text-decoration: underline;
}

.instr {
color:red;
}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

footer {
left: 45%;
bottom: 0;
color: darkgreen;
text-align: center;
}

.home {
text-align: center;
}

#returningUser {
  padding-bottom: 2%;
}